<!DOCTYPE html>
<html ng-app="boardApp">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/board.css")">
        <script src="@routes.Assets.versioned("playTestProject-client-jsdeps.js")"></script>
        <script src="@routes.Assets.versioned("playTestProject-client-fastopt.js")"></script>
        <title>Title</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Board</a>
        </nav>
        <div class="container">
            <ui-view></ui-view>
        </div>
    </body>
</html>
